// https://codepen.io/Kaizzo/pen/aGWwMM

@reference '../../../lib/app.css';

#chat.ff7 {
	@apply gap-2;

	& .message {
		box-shadow:
			1px 1px #e7dfe7,
			-1px -1px #e7dfe7,
			1px -1px #e7dfe7,
			-1px 1px #e7dfe7,
			0 -2px #9c9a9c,
			-2px 0 #7b757b,
			0 2px #424542;
		border: solid 1px #424542;
		border-radius: 7px;

		background: #04009d;
		background: linear-gradient(to bottom, #04009d 0%, #06004d 100%);
		padding: 5px 10px;
		color: #eff1ff;
		font-size: 1.2rem;
		font-family: Verdana, sans-serif;
		text-shadow:
			2px 2px #212421,
			1px 1px #212021;
	}
}
