// from https://github.com/NigelOToole/pixel-borders

@use '$lib/css/pixel-mixins';

@font-face {
	font-family: 'Pixeloid Mono';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('$lib/fonts/PixeloidMono.ttf') format('truetype');
}

#chat.pixel {
	@apply gap-2;
	& .message {
		font-family: 'Pixeloid Mono', ui-monospace, monospace;

		@apply bg-black;
		@apply text-white;
		@apply border border-white;
		@apply px-4 py-2;

		@include pixel-mixins.pixel-box(
			$corner-size: 1,
			$border-size: 4px,
			$border-color: #fff,
			$background-color: #000,
			$with-hover-color: true,
			$border-inset: true,
			$border-inset-size: false,
			$border-inset-color: true,
			$border-inset-sides: false,
			// Sides to apply inset border: 'all', 'top-left' or 'bottom-right'
			$border-inset-color-br: false,
			// Bottom right inset border colour
			$border-inset-color-tl: false // Top left inset border colour
		);
	}
}
